*{
    padding: 0;
    margin: 0;
}
.container{
    width:90%;
    margin: auto;
    border-radius: 8px;
}
.navBar{
    display: flex;
    justify-content: space-between;
    padding: 13px;
}
.navBar-logo{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 225px;
}
.navBar-logo h3{
    font-size: 27px;
}
.navBar-logo span{
    color: #FF5400;
}
.navBar-link ul{
    display: flex;
}
.navBar-link ul li a{
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 13px;
    font-size: 22px;
    color: black;


}
.navBar-link .first{
    color: #FF5400;
}
.navBar-link ul li{
    list-style: none;
}
/* navbar section end */
/* bannar sectin start */
.bannar{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.8)
     0% rgba(19, 19,24, 0) 100%), url(./Images/Group\ 13\ \(1\)\ \(1\).png);
     background-image: url(./Images/Group\ 13\ \(1\)\ \(1\).png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     color: white;
     padding: 100px 0;

     
}
.bannar-inner{
    text-align: center;
}
.bannar-inner h3{
    font-size: 45px;
    line-height: 2;
}
.bannar-inner p{
    
}
.input-types{
    margin-top: 25px !important;
    background-color: rgba(170, 163, 163, 0.6);
    padding: 10px;
    width: 700px;
    margin: 0 auto;
}
.input-types input, select, button{
    padding: 14px;
    border: none;
    text-transform: capitalize;
}
.input-types button{
    background-color: #FF5400;
    padding: 14px;
    color: white;
    text-transform: capitalize;
}
/* bannar section end */
/* popular section start */
.popular{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 60px;
    align-items: center;
}
.popular-left h3{
    font-size: 40px;
    line-height: 2;

}
.popular-left ul li{
    margin-top: 16px;
    margin-right: -20px;
}
.popular-left button{
    color: white;
    background-color: #FF5400;
    padding: 14px 23px;
    border-radius: 5px;
    margin-top: 15px;

}
/* popular section end */
/* destination section start */
.destination{
    margin-top: 90px;
}
.destination-title{
    text-align:center;
    margin-bottom: 50px;
}
.destination-title h2{
    font-size: 45px;
}
.destination-top{
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    gap: 30px;
    margin: 10px;
}
.destination-top img{
    width: 100%;
    height: 300px;
    filter: brightness(70%);
}
.destination-top-left, .destination-rights{
    position: relative;
}

.title-maldive, .title-indonesia{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}

.destination-middel{
   display: grid;
   grid-template-columns: 0.81fr 1fr 0.71fr;
   gap: 20px;
   margin: 10px;
}
.destination-middel img{
    width: 100%;
    height: 300px;
    filter: brightness(70%);
}
.destination-bottom{
    display: grid;
    grid-template-columns: 0.51fr 0.71fr;
    gap: 20px;
    margin: 10px;
}

.destination-bottom img{
    width: 100%;
    height: 300px;
    filter: brightness(70%);

    
}
/* destination section end */
/* why choose section start here */

.choose-title h2{
    text-align: center;
    font-size: 46px;
    line-height: 2;
}
.choose p{
    text-align: center;
}
.choose-parent{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 90px;
   
}
.choose-left{
    padding: 20px;
    background-color: #FFFBF7;
    border-radius: 5px;
    border: 5px solid #e7e2dd;

    
}
 .choose-left .fa-solid{
    font-size: 40px;
 }
 .choose-rights .fa-solid{
    font-size: 40px;
 }
.choose-rights{
    background-color: #F4FDFF;
    padding: 20px;
    border-radius: 5px;
    border: 5px solid #cddde1;
}
.choose-left h4{
    font-size: 26px;
    line-height: 2;
}
.choose-rights h4{
    font-size: 26px;
    line-height: 2;
}
.choose-bottom{
    width: 560px;
    margin: 0 auto;
    margin-top: 15px;

}
/* why choose section end */
/* discount section start */
.discount {
    margin-top: 80px;
}
.discount-scheet{
    background-image: url(./Images/Group\ 39.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    padding: 50px;
    display: flex;
    justify-content: end;
    border-radius: 10px;
}
.discount-scheet-mid{
    background-image: url(./Images/Group\ 40.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    padding: 50px;
    display: flex;
    justify-content: start;
    border-radius: 10px;

}
.discount-inner-titel h4{
    color: #FF5400;
    line-height: 2;
}
.discount-inner-titel h3{
    line-height: 2;
    font-weight: 500;
}
.discount-inner-titel button{
    background-color: #FF5400;
    color: white;
    padding: 13px 23px;
    border-radius: 8px;

}
.discount-title > h3{
    text-align: center;
    font-size: 40px;
    line-height: 2;
}
.discount-title p{
    text-align: center;
}

.discount-inner{
    width: 350px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.615);    
}

.discount-icon{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 11px;
    
}
.discount-icon .fa-solid{
    color: #FF5400;
}
.discount-icon .fa-regular{
    color: #FF5400;
}
.discount-inner{
    border-radius: 10px;
}
.discount-icon li{
    list-style: none;
}
.btn {
    text-align: center;
    margin-top: 40px;

}
.btn button{
    background-color: #FF5400;
    color: white;
    border-radius: 6px;

}
/* discount section end here */
/* perfect section start here */
.perfect{
    margin-top: 90px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.perfect-left h3{
    font-size: 44px;
    font-weight: 500;
}
.perfect-left p{
    margin-top: 10px;
}
.perfect-left li{
    margin-top: 10px;
}
.perfect-left button{
    background-color: #FF5400;
    color: white;
    margin-top: 14px;
    border-radius: 5px;

}
/* perfect section end here */
/* Newsletter section start */
.newsletter{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 190px;
}
.newsletter-left h3{
    font-size: 36px;
    line-height: 2;
}
.newsletter-left p{
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 10px;
}
.newsletter-rights img{
    width: 100%;
    height: 400px;
}
.newsletter-left input{
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: none;
    background-color: rgba(220, 220, 220, 0.762);
    border-radius: 5px;
}

.newsletter-left .buttonn{
    background-color: #FF5400;
    text-align: center;
    color: white;
}
.newsletter-left .buttonn input{
    color: white;
    text-transform: capitalize;

}
.newsletter-rights {
    position: relative;
  
}
.news-innner{
    background-color: #FF5400;
    color: white;
    padding: 20px;
    text-align: center;
    width: 180px;
    border-radius: 10px;
    position: absolute;
    bottom: 84px;
    left: 172px;
    transform: rotate(-39deg);
   
   
}

.newsletter-rights h5{}

